{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>My Site</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
      <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
<body>
    <div class="container">
        <header class="header">
            <a class="link-title" href="">Yusuf Assalafy</a>
        </header>
        <div class="menu">
            <a href="/">Home</a> &nbsp; &nbsp; &nbsp;
            <a href="">About</a> &nbsp; &nbsp; &nbsp;
            <a href="">Contact</a>
        </div>
{% block page_content %}{% endblock %}
    <footer>
    &copy; 2022 Yusuf Asslafy Website &nbsp; Design by Yusuf
    </footer>
</div>
</body>
</html>
